@import "tailwindcss";
@plugin "daisyui";


.bg-imgs {
    background-image: url(./assets/program-banar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    font-size: 40px;
    font-weight: 900;
    color: whitesmoke;
}